@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BCIT Diploma Option Picker</h1>
    <p class="lead">This website allows students to pick their options. Please login with your student number for more options.</p>
</div>